mat-sidenav-container {
    block-size: 100%;
}

mat-sidenav, mat-sidenav-content {
    padding: 16px;
}

mat-sidenav {
    inline-size: 200px;
    background-color: lightcoral;
}

div {
    margin-block-end: 1rem;
}