<!-- https://fonts.google.com/icons?selected=Material+Icons -->
<div class="category">
    <div class="mat-headline">Icon Button</div>
    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button color="warn">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button disabled>
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>